<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pearls</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/landing.css'>
</head>

<body>
    <h1>pearls</h1>
    <p class="content">
        A bot, counting time on <a href="https://matrix.org">matrix</a> network for <a
            href="http://www.atelier-cartographique.be">atelier cartographique</a> and friends.
    </p>
    <p class="content">

    </p>
</body>

</html>