 body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    margin-left: 2rem;
}

.project-wrapper {
    display: flex;
    padding: 1rem 2rem;
}

.project-wrapper H2 {
    margin-top: 0;
}

.project-gauge {
    height: 11em;
    width: 30px;
    border: 3px solid #000;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}
.project-gauge > div {
    width: 100%;
}

.time-over {
    background-color: red;
}
.time-done {
    background-color: #000;
}

.info-wrapper {
    display: flex;
    margin-bottom: 0.5em;
}

.info-wrapper .label {
    margin-right: 1ch;
}

.month {
    border: 1px solid grey;
    border-top: none;
}

.week {
    display: flex;

    font-size: 8pt;
    min-height: 64px;
}
.week.empty {
    display: none;
}
.day {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
}

.in-month .weekday {
    font-weight: bold;
}

.weekday {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    text-align: center;
}

.task {
    background-color: #eee;
    padding: 3px;
    margin: 3px;
}

.summary {
    margin-bottom: 1em;
}

.completed {
    background-color: rgb(233, 233, 233);
}

.completed .time-available {
    background-color: rgb(27, 188, 252);
}